<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created W/29/02/2012
 * Updated W/25/03/2015
 * Version 18
 *
 * Copyright 2012-2015 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/magento/wiki/cronlog
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<tabs>
		<luigifab>
			<label>luigifab</label>
			<sort_order>103</sort_order>
		</luigifab>
	</tabs>
	<sections>
		<cronlog translate="label">
			<label>Cron jobs</label>
			<tab>luigifab</tab>
			<sort_order>53</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<help>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_model>cronlog/adminhtml_config_help</frontend_model>
				</help>
				<general translate="label">
					<label>General</label>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<filter translate="label">
							<label>By default filter by jobs</label>
							<frontend_type>select</frontend_type>
							<source_model>cronlog/source_status</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</filter>
						<number translate="label">
							<label>Number of jobs per page</label>
							<frontend_type>select</frontend_type>
							<source_model>cronlog/source_number</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</number>
						<textmode translate="label">
							<label>Use text filter</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</textmode>
					</fields>
				</general>
				<lifetime translate="label">
					<label>History lifetime</label>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<global translate="label comment">
							<label>Lifetime</label>
							<comment><![CDATA[Replace cron jobs history lifetime (see System &gt; Cron).]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>cronlog/source_lifetime</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</global>
					</fields>
				</lifetime>
				<email translate="label">
					<label>Email reports</label>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<expanded>1</expanded>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<frequency translate="label">
							<label>Frequency</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_cron_frequency</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</frequency>
						<recipient_email translate="label comment">
							<label>Send Emails To</label>
							<comment>Emails separated by space.</comment>
							<frontend_type>text</frontend_type>
							<!--backend_model>adminhtml/system_config_backend_email_address</backend_model-->
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</recipient_email>
						<sender_email_identity translate="label">
							<label>Email Sender</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_identity</source_model>
							<backend_model>adminhtml/system_config_backend_email_sender</backend_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</sender_email_identity>
						<template translate="label">
							<label>Email Template</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_email_template</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</template>
					</fields>
				</email>
			</groups>
		</cronlog>
		<system>
			<groups>
				<cron>
					<fields>
						<history_cleanup_every translate="comment">
							<comment><![CDATA[Disabled if you use cronlog module lifetime (see Cron jobs &gt; Lifetime).]]></comment>
						</history_cleanup_every>
						<history_success_lifetime translate="comment">
							<comment><![CDATA[Disabled if you use cronlog module lifetime (see Cron jobs &gt; Lifetime).]]></comment>
						</history_success_lifetime>
						<history_failure_lifetime translate="comment">
							<comment><![CDATA[Disabled if you use cronlog module lifetime (see Cron jobs &gt; Lifetime).]]></comment>
						</history_failure_lifetime>
					</fields>
				</cron>
			</groups>
		</system>
	</sections>
</config>