<!--@subject Cron jobs report@-->
<!--@vars {
"var frequency":"Report frequency",
"var date_period_from":"Beginning date of the report",
"var date_period_to":"Ending date of the report",
"var total_cron":"Number of jobs",
"var total_pending":"Number of pending jobs",
"var total_running":"Number of running jobs",
"var total_error":"Number of jobs on error",
"var total_missed":"Number of missed jobs",
"var total_success":"Number of successful jobs",
"var list":"List of jobs on error",
"var config":"Configuration address"
}@-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="en">
	<p>This is the {{var frequency}} report about the executions of cron jobs.
	<br />Period from <strong>{{var date_period_from}}</strong> to <strong>{{var date_period_to}}</strong>.</p>

	<p>On the <strong>{{var total_cron}}</strong> jobs set:
	<br /><span style="color:#6F6F6F;">➩ Pending job(s): {{var total_pending}}</span>
	<br /><span style="color:orange;">➩ Running job(s): {{var total_running}}</span>
	<br /><span style="color:red;">➩ On error job(s): {{var total_error}}</span>
	<br /><span style="color:black;">➩ Missed job(s): {{var total_missed}}</span>
	<br /><span style="color:green;">➩ Completed job(s): {{var total_success}}</span></p>

	{{depend list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em;list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Cron jobs report
	<br /><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a><!-- maillog - <a href="#online#" style="color:#6F6F6F;">view online</a> #readimg# #mailid#cron# maillog --></p>
</div>
