<!--@subject Bericht der Kron Tasks@-->
<!--@vars {
"var frequency":"Frequenz des Berichts",
"var date_period_from":"Anfangsdatum des Berichts",
"var date_period_to":"Datumsende des Berichts",
"var total_cron":"Taskanzahl",
"var total_pending":"Anzahl der Tasks in der Warteschleife",
"var total_running":"Anzahl der Tasks im Lauf",
"var total_error":"Anzahl der Fehler Tasks",
"var total_missed":"Anzahl der verfehlten Tasks",
"var total_success":"Anzahl der beendeten Tasks",
"var list":"Liste der Fehler Tasks",
"var config":"Konfiguration Adresse"
}@-->

<div style="margin:1em; font-size:12px; line-height:16px;">
	<p>Hier der Bericht {{var frequency}} relativ zu den Ausführungen der Kron Tasks.
	<br />Zeitraum vom <strong>{{var date_period_from}}</strong> biszum <strong>{{var date_period_to}}</strong>.</p>

	<p>Auf den <strong>{{var total_cron}}</strong> vorgesehenen Tasks:
	<br /><span style="color:#6F6F6F;">➩ Task(s) in der Warteschleife: {{var total_pending}}</span>
	<br /><span style="color:orange;">➩ Task(s) im Lauf: {{var total_running}}</span>
	<br /><span style="color:red;">➩ Fehler Task(s): {{var total_error}}</span>
	<br /><span style="color:black;">➩ Verfehlte Task(s): {{var total_missed}}</span>
	<br /><span style="color:green;">➩ Beendete Task(s): {{var total_success}}</span></p>

	{{depend list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em;list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Bericht der Kron Tasks
	<br /><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a><!-- maillog - <a href="#online#" style="color:#6F6F6F;">Im Browser anzeigen</a> #readimg# #mailid#cron# maillog --></p>
</div>
