<!--@subject Bericht der Kron-Tasks @-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="de">
	<p>Hier der Bericht {{var frequency}} relativ zu den Ausführungen der Kron-Tasks.
	<br>Zeitraum vom <strong>{{var date_period_from}}</strong> bis zum <strong>{{var date_period_to}}</strong>.</p>

	<p>Auf den <strong>{{var total_cron}}</strong> vorgesehenen Tasks:
	<br><span style="color:#6F6F6F;">➤ Task(s) in der Warteschleife: {{var total_pending}}</span>
	<br><span style="color:orange;">➤ Task(s) im Lauf: {{var total_running}}</span>
	<br><span style="color:#E41101;">➤ In Fehler Task(s): {{var total_error}}</span>
	<br><span style="color:black;">➤ Verfehlte Task(s): {{var total_missed}}</span>
	<br><span style="color:green;">➤ Beendete Task(s): {{var total_success}}</span></p>

	{{depend list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em; list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Bericht der Kron-Tasks
	<br><a href="{{var config}}" rel="noindex,nofollow" style="color:#6F6F6F;">{{var config}}</a><!-- maillog - <a href="#online#" rel="noindex,nofollow" style="color:#6F6F6F;">In meinem Menü nachsehen</a> #readimg# #mailid#cron# maillog --></p>
</div>