<!--@subject Rapport des tâches cron@-->
<!--@vars {
"var frequency":"Fréquence du rapport",
"var date_period":"Date(s) du rapport",
"var total_cron":"Nombre de tâches cron",
"var total_pending":"Nombre de tâche cron en attente",
"var total_running":"Nombre de tâche cron en cours",
"var total_success":"Nombre de tâche cron en terminée",
"var total_missed":"Nombre de tâche cron manquée",
"var total_error":"Nombre de tâche cron en erreur",
"var config_url":"Adresse de configuration"
}@-->

<body style="margin:1em;">
	<p>Rapport {{var frequency}} par rapport aux exécutions des tâches cron.
	<br />Période {{var date_period}}.</p>

	<p>Sur les <strong>{{var total_cron}}</strong> tâches prévues :
	<br />- Tâche(s) en cours : {{var total_running}}
	<br />- Tâche(s) en attente(s) : {{var total_pending}}
	<br />- <span style="color:red;">Tâche(s) manquée(s) : {{var total_missed}}</span>
	<br />- <span style="color:red;">Tâche(s) en erreur(s) : {{var total_error}}</span>
	<br />- <span style="color:green;">Tâche(s) terminée(s) : <strong>{{var total_success}}</strong></span></p>

	<p style="font-size:0.8em; line-height:1.2em; font-style:italic; color:gray;">{{config path='design/head/default_title'}} - Tâches cron
	<br /><a href="{{var config_url}}" style="color:gray;">{{var config_url}}</a></p>
</body>
