<!--@subject Rapport des tâches cron@-->
<!--@vars {
"var frequency":"Fréquence du rapport",
"var date_period_from":"Date de début du rapport",
"var date_period_to":"Date de fin du rapport",
"var total_cron":"Nombre de tâches cron",
"var total_pending":"Nombre de tâche cron en attente",
"var total_running":"Nombre de tâche cron en cours",
"var total_success":"Nombre de tâche cron en terminée",
"var total_missed":"Nombre de tâche cron manquée",
"var total_error":"Nombre de tâche cron en erreur",
"var errors_list":"Liste des tâches cron en erreur",
"var config_url":"Adresse de configuration"
}@-->

<body style="margin:1em;">
	<p>Rapport {{var frequency}} par rapport aux exécutions des tâches cron.
	<br />Période du <strong>{{var date_period_from}}</strong> au <strong>{{var date_period_to}}</strong>.</p>

	<p>Sur les <strong>{{var total_cron}}</strong> tâches prévues :
	<br />- Tâche(s) en cours : {{var total_running}}
	<br />- Tâche(s) en attente(s) : {{var total_pending}}
	<br />- <span style="color:red;">Tâche(s) manquée(s) : <strong>{{var total_missed}}</strong></span>
	<br />- <span style="color:red;">Tâche(s) en erreur(s) : <strong>{{var total_error}}</strong></span>
	<br />- <span style="color:green;">Tâche(s) terminée(s) : <strong>{{var total_success}}</strong></span></p>

	{{depend errors_list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; list-style:none; border-top:1px dashed #777;">
			{{var errors_list}}
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:130%; font-style:italic; color:gray;">{{config path='design/head/default_title'}} - Tâches cron
	<br /><a href="{{var config_url}}" style="color:gray;">{{var config_url}}</a></p>
</body>
