@charset "utf-8";
/**
 * Created W/29/02/2012
 * Updated J/26/07/2012
 * Version 5
 *
 * Copyright 2012 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://redmine.luigifab.info/projects/magento/wiki/cronlog
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

body.adminhtml-cronlog-history-index h3.icon-head, body.adminhtml-cronlog-history-show h3 {
	min-height:18px; padding-left:22px;
	background:url("../../../images/fam_calendar.gif") no-repeat left center;
}

body.adminhtml-cronlog-history-show div.content p.status { margin:1.2em 1em 1.8em; }
body.adminhtml-cronlog-history-show div.content p.status.error { color:red; }
body.adminhtml-cronlog-history-show div.content p.status.run { color:green; }
body.adminhtml-cronlog-history-show div.content pre { font:10px monospace; line-height:15px; white-space:pre-wrap; }

#cronlogGrid_table tr:hover { background-color:#DEDEDE; }
#cronlogGrid_table tr td strong { font-style:normal; font-weight:bold; color:red; }
#cronlogGrid_table tr td em { font-style:normal; font-weight:bold; color:green; }

#cronlog_general p { margin:9px 5px 5px; }

