/**
 * Copyright 2012-2016 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * Created W/29/02/2012, updated D/28/02/2016, version 34
 * https://redmine.luigifab.info/projects/magento/wiki/cronlog
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL).
 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& global &&& */
body.adminhtml-cronlog-config-index h3.icon-head, body.adminhtml-cronlog-history-index h3.icon-head,
body.adminhtml-cronlog-history-view h3.icon-head, body.adminhtml-cronlog-history-new h3.icon-head {
	background:url("../../../images/fam_calendar.gif") no-repeat left center;
}

body.adminhtml-cronlog-config-index table.data td.a-status span,
body.adminhtml-cronlog-history-index table.data td.a-status span,
body.adminhtml-cronlog-history-view div.content li strong span {
	display:block; height:17px; line-height:17px; text-align:center;
	font-size:10px; font-weight:700; text-transform:uppercase; color:white; border-radius:10px;
}

body.adminhtml-cronlog-config-index table.data tr:hover,
body.adminhtml-cronlog-history-index table.data tr:hover { background-color:#DEDEDE; }

body.adminhtml-cronlog-config-index #loading-mask,
body.adminhtml-cronlog-history-index #loading-mask { background-color:rgba(255,255,255, 0.5); }
body.adminhtml-cronlog-config-index #loading_mask_loader,
body.adminhtml-cronlog-history-index #loading_mask_loader { margin-left:-120px; margin-top:-30px; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& system/config &&& */
#config_edit_form[action*="system_config/save/section/cronlog"] tr[id*="_stats_"] td.scope-label { display:none; }
#config_edit_form[action*="system_config/save/section/cronlog"] p.note { padding-top:4px; line-height:125%; }
#config_edit_form[action*="system_config/save/section/system"] p.note { padding-top:4px; line-height:125%; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& cronlog/config/index &&& */
body.adminhtml-cronlog-config-index table.data tr.headings th.no-link { padding:3px 4px 4px; text-align:center; }
body.adminhtml-cronlog-config-index table.data tr.disabled { color:#999; }
body.adminhtml-cronlog-config-index table.data tr.readonly { font-style:italic; }

body.adminhtml-cronlog-config-index div.hor-scroll {
	margin-bottom:8px; padding-bottom:0; line-height:1.5em;
	background-size:100% calc(3em + 10px); background-size:100% -moz-calc(3em + 10px); background-size:100% -webkit-calc(3em + 10px);
	background-image:-webkit-linear-gradient(#FFF 50%, #F6F6F6 50%);
	background-image:-moz-linear-gradient(#FFF 50%, #F6F6F6 50%);
	background-image:linear-gradient(#FFF 50%, #F6F6F6 50%);
	background-position:bottom;
}

body.adminhtml-cronlog-config-index table.data tbody,
body.adminhtml-cronlog-config-index table.data tr.even { background-color:transparent; }

body.adminhtml-cronlog-config-index table.data td.a-status span.grid-enabled  { background-color:#3CB861; }
body.adminhtml-cronlog-config-index table.data td.a-status span.grid-disabled { background-color:#E41101; }

body.adminhtml-cronlog-config-index #messages { position:fixed; bottom:-1px; left:-1px; right:-1px; cursor:pointer; }
body.adminhtml-cronlog-config-index #messages li[class] { margin:0 !important; }
body.adminhtml-cronlog-config-index #messages li[class] b { padding:0 0.3em; font-size:130%; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&& cronlog/history/index &&& */
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-pending { background-color:#B3B4B3; }
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-running { background-color:#FF9C00; }
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-success { background-color:#3CB861; }
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-missed { background-color:black; }
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-error { background-color:#E41101; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& cronlog/history/view &&& */
body.adminhtml-cronlog-history-view div.content-header td { width:auto !important; }
body.adminhtml-cronlog-history-view div.content div { display:table; margin:1.4em auto; width:100%; border-spacing:1em 0; border-collapse:separate; }
body.adminhtml-cronlog-history-view div.content ul + ul { width:62%; }

body.adminhtml-cronlog-history-view div.content ul {
	display:table-cell; margin:0; padding:0.7em 1em; height:7.2em;
	font-size:13px; border-radius:1em; border:1px solid #DDD; background-color:#EFEFEF; background-clip:padding-box;
}

body.adminhtml-cronlog-history-view div.content li strong { height:17px; line-height:17px; }
body.adminhtml-cronlog-history-view div.content li strong span { display:inline-block; margin:0 0.5em; width:13em; vertical-align:top; }
body.adminhtml-cronlog-history-view div.content li strong.status-pending span { background-color:#B3B4B3; }
body.adminhtml-cronlog-history-view div.content li strong.status-running span { background-color:#FF9C00; }
body.adminhtml-cronlog-history-view div.content li strong.status-success span { background-color:#3CB861; }
body.adminhtml-cronlog-history-view div.content li strong.status-missed span { background-color:black; }
body.adminhtml-cronlog-history-view div.content li strong.status-error span { background-color:#E41101; }

body.adminhtml-cronlog-history-view div.content pre {
	display:block; margin:1em auto; padding:1.2em 1.4em; min-height:26em;
	width:calc(100% - 2px - 4.8em); width:-moz-calc(100% - 2px - 4.8em); width:-webkit-calc(100% - 2px - 4.8em);
	font:11px "Courier New", monospace; line-height:15px; white-space:pre-wrap; border-radius:1em; border:1px solid #DDD;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& cronlog/history/new &&& */
body.adminhtml-cronlog-history-new div.columns { background:none; }
body.adminhtml-cronlog-history-new div.side-col { display:none; }

body.adminhtml-cronlog-history-new div.main-col { margin:0; padding:0; }
body.adminhtml-cronlog-history-new div.main-col td.label { text-align:right; vertical-align:middle; }
body.adminhtml-cronlog-history-new div.main-col td.value { padding-left:0 !important; width:425px; }
body.adminhtml-cronlog-history-new div.main-col select { width:100%; padding:4px; }
body.adminhtml-cronlog-history-new div.main-col span.required { display:none; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& animation &&& */
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-error,
body.adminhtml-cronlog-history-index table.data td.a-status span.grid-missed,
body.adminhtml-cronlog-history-view div.content li strong.status-missed span,
body.adminhtml-cronlog-history-view div.content li strong.status-error span {
	animation:cronlogBlink 1s step-start 0s infinite; -moz-animation:cronlogBlink 1s step-start 0s infinite;
	-webkit-animation:cronlogBlink 1s step-start 0s infinite;
}

@keyframes cronlogBlink { 30% { color:transparent; } }
@-moz-keyframes cronlogBlink { 30% { color:transparent; } }
@-webkit-keyframes cronlogBlink { 30% { color:transparent; } }