<!--@subject Cron jobs report@-->
<!--@vars {
"var frequency":"Report frequency",
"var date_period_from":"Start report date",
"var date_period_to":"End report date",
"var total_cron":"Number of cron job",
"var total_pending":"Number of pending cron job",
"var total_running":"Number of running cron job",
"var total_success":"Number of success cron job",
"var total_missed":"Number of missed cron job",
"var total_error":"Number of error cron job",
"var errors_list":"List of error cron jobs",
"var config_url":"Configuration address"
}@-->

<body style="margin:1em;">
	<p>{{var frequency}} report from the executions of cron jobs.
	<br />Period from <strong>{{var date_period_from}}</strong> to <strong>{{var date_period_to}}</strong>.</p>

	<p>On the <strong>{{var total_cron}}</strong> jobs set:
	<br />- Running job(s): {{var total_running}}
	<br />- Pending job(s): {{var total_pending}}
	<br />- <span style="color:red;">Missed job(s): <strong>{{var total_missed}}</strong></span>
	<br />- <span style="color:red;">On error job(s): <strong>{{var total_error}}</strong></span>
	<br />- <span style="color:green;">Complete job(s): <strong>{{var total_success}}</strong></span></p>

	{{depend errors_list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; list-style:none; border-top:1px dashed #777;">
			{{var errors_list}}
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:130%; font-style:italic; color:gray;">{{config path='design/head/default_title'}} - Cron jobs
	<br /><a href="{{var config_url}}" style="color:gray;">{{var config_url}}</a></p>
</body>
