<!--@subject Informe de tareas cron @-->

<div style="margin:1em; font-size:12px; line-height:16px;" lang="es">
	<p>Este es el informe {{var frequency}} respecto a la ejecución de tareas cron.
	<br />Período de <strong>{{var date_period_from}}</strong> al <strong>{{var date_period_to}}</strong>.</p>

	<p>Sobre los <strong>{{var total_cron}}</strong> tareas previstas:
	<br /><span style="color:#6F6F6F;">➤ Tarea(s) en espera: {{var total_pending}}</span>
	<br /><span style="color:orange;">➤ Tarea(s) en proceso: {{var total_running}}</span>
	<br /><span style="color:red;">➤ Tarea(s) en error: {{var total_error}}</span>
	<br /><span style="color:black;">➤ Tarea(s) perdida(s): {{var total_missed}}</span>
	<br /><span style="color:green;">➤ Tarea(s) terminada(s): {{var total_success}}</span></p>

	{{depend list}}
		<ul style="margin:1.5em 0; padding:0.5em 0 0; font-size:0.9em; line-height:1.3em; list-style:none; border-top:1px dashed #777;">
			<li style="margin:0.8em 0 0.5em;">{{var list}}</li>
		</ul>
	{{/depend}}

	<p style="font-size:0.8em; line-height:1.35em; font-style:italic; color:#6F6F6F;">{{config path='design/head/default_title'}} - Informe de tareas cron
	<br /><a href="{{var config}}" style="color:#6F6F6F;">{{var config}}</a><!-- maillog - <a href="#online#" style="color:#6F6F6F;">ver la versión en línea</a> #readimg# #mailid#cron# maillog --></p>
</div>